/*font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif; */
body {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
}
.logo {
  height: 30px;
  margin-top: 30px;
  float: left;
  padding-left: 15px;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 9999;
}

ul.main-menu {
    float: right;
}

ul.main-menu li {
  list-style: none;
  padding: 20px;
  display: inline-block;
}

.btn-default-outline {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.container {
  color: #fff;
}

section.intro {
  background-image:url(../img/frontpage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

section.intro h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 50px;
  padding-top: 45vh;
}

section.intro p {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  font-size: 30px;
}

section.more_info {
  background-color: #BAF4FF;
  height: 100vh;
  padding: 150px 0px;
  background-image: url('../img/iPadProSpaceGray.png');
  background-repeat: no-repeat;
  background-position-x: 1300px;
  background-position-y: 10vh;
}



section.more_info img {
  float: right;
  margin-right: -80px;
  height: 500px;
  overflow: hidden;
}

section.more_info h1 { 
  font-size: 50px;
  color: #404040;
  font-weight: 900;
}

section.more_info p {
  font-family: 'Hind', sans-serif;
  color: #404040;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
}

section.facts {
  background-color: #A9F9B4;
  height: 100vh;
  padding: 150px 0px;
  background-image: url('../img/iPadPROnorthernlights.png');
  background-repeat: no-repeat;
  background-position-y: 10vh;
}

section.facts h1 { 
  font-size: 50px;
  color: #404040;
  font-weight: 900;
}

section.facts p {
  font-family: 'Hind', sans-serif;
  color: #404040;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
}

section.facts img {
  float: left;
  margin-left: -80px;
  height: 500px;
}

section.video img {
    width: 100%;
}

section.contact {
  background-color: #555;
  height: 100vh;
  padding: 150px 0px;
  background-image: url('../img/iPadProgold.png');
  background-repeat: no-repeat;
  background-position-x: 1150px;
  background-position-y: 325px;
}


input#name {
    height: 50px;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 25px;
}

input#email {
    height: 50px;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 25px;
}

textarea#message {
    padding: 20px;
    margin-bottom: 35px;
}

section.contact img {
  float: right;
  margin-right: -80px
}



.btn-default-outline:hover {
    color: #555;
    background: #fff;
}
