/*font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif; */

.logo {
  height: 30px;
  margin-top: 40px;
  margin-left: 120px;
  float: left;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 9999;
}

ul li {
  list-style: none;
  float: right;
  margin: 20px;
}

.btn-default-outline {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.container {
  color: #fff;
}

section.intro {
  background-image:url(../img/frontpage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

section.intro h1 {
  margin-top: 250px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 50px;
}

section.intro p {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  font-size: 30px;
}

section.more_info {
  background-color: #BAF4FF;
  height: 100vh;
  margin-top: 170px;
}

section.more_info p {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

section.more_info img {
  float: right;
  margin-right: -80px;
}

section.video {


}

section.facts {
  background-color: #A9F9B4;
  height: 100vh;
}

section.facts img {
  float: left;
  margin-left: -80px;
}

section.contact {
  background-color: #555;
  height: 100vh;
}

.form-group {

}

section.contact img {
  float: right;
  margin-right: -80px;
}
