<% include partials/header %>
<section class="intro">
  <div class="container">
    <div class="row intro-text">
       <div class="col-md-6">
       </div>
       <div class="col-md-6">
         <h1>B2B Solution</h1>
        <p>For hotels and information centers.</p>
       </div>

      </div>
    </div>
  </div>
</section>
<section class="more_info">
  <div class="container">
    <div class="row">
       <div class="col-md-6">
         <h1>Easy Booking</h1>
         <p>Easily book tours and activities with our app that is design with great user experience in mind to maximize conversion for your business.</p>
       </div>
       <div class="col-md-6">
       </div>
      </div>
    </div>
  </div>
</section>

<section class="video">
         <img src="img/video_sample.png" class="img-responsive" alt="myndband">
</section>

<section class="facts">
  <div class="container">
    <div class="row">
       <div class="col-md-6">
       </div>
       <div class="col-md-6">
          <h1>Sales driven</h1>
          <p>We don't have any sign up, set up or hidden cost. You simply pay as you go through our white label affiliate program.</p>
       </div>
      </div>
    </div>
  </div>
</section>

<section class="contact" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
      <form class="form-horizontal" method="post" role="form">
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
      			<input type="email" class="form-control" id="email" name="email" placeholder="Email" required autofocus>
            <textarea id="message" name="message" class="form-control" placeholder="Message" rows="5" required></textarea>
            <button type="submit" class="btn btn-default-outline btn-md">Contact</button>
          </div><div class="col-md-8"></div>
          </div>
        </div>
</section>
<% include partials/footer %>
