<!DOCTYPE html>
<html>
<head>
  <% include head %>
</head>
<body>
<header>
  <nav>
    <div class="container">
      <div class="row">
        <div class="md-col-6">
      <img class="logo" class="img-responsive" src="img/Logo.svg">
    </div>
    <div class="md-col-6">
      <ul class="main-menu">
        <li><button class="btn btn-default-outline btn-md" type="submit">Log in</button></li>
        <li><a href="#contact" class="btn btn-default-outline btn-md">Contact</a></li>
      </ul>
    </div>
    </div>
  </div>
  </nav>
</header>
