<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Easily book tours and activities through our white label solution on any tablet, phone or computer">
    <meta name="author" content="Bogo">
    <title>B2B Solution for Hotels and Information Centers</title>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700|Montserrat:400,900" rel="stylesheet">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <link href="css/style.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon16px.ico" type="image/gif" sizes="16x16">
